<h1>Registracija</h1>
<form action="/users" method="post">
    <input type="text" name="email" placeholder="E-pošta" required="">
    <input type="text" name="username" placeholder="Uporabniško ime" required="">
    <input type="password" name="password" placeholder="Geslo" required="">

    <input type="submit" value="Registriraj se">
</form>