<h1>Novo vprašanje</h1>
<form action="/questions" method="post">
    <input type="text" name="title" placeholder="Naslov vprašanja..." size="30" required>
    <br>
    <textarea name="description" placeholder="Vsebina vprašanja..." rows="20" cols="50" required></textarea>
    <br>
    <input type="text" name="tags" placeholder="Oznaka" required>
    <div class="tp">
        <input type="submit" value="Dodaj">
    </div>
</form>