<h1>Spletno programiranje - Vaja 3</h1>
<form action="users/login">
    <input type="submit" value="Prijava" />
</form>
<form action="users/register">
    <input type="submit" value="Registracija" />
</form>
<form action="users/profile">
    <input type="submit" value="Moj profil" />
</form>
<br>
<a type="button" href="/questions">Vprašanja</a>
<br>
<a type="button" href="questions/add">Novo vprašanje</a>